@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #dbdbdb;
    --cor-secundaria: #292c2f;
    --cor-terciaria: #6D2F2F;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 0% 0% 0% 0%;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: fixed;
    background-color: var(--cor-primaria);
    height: 4rem;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.25rem;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-decoration: none;
    color: var(--cor-terciaria);
    transition: all 0.5s;
  }

  nav a.active {
    padding: 0.8rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: #AB5757;
  }
  
  .cabecalho__menu__link:focus,
  .cabecalho__menu__link:hover {
    color:  #AB5757;
    transform: scale(1.1);
  }
  
  .cabecalho__menu__link:focus:after,
  .cabecalho__menu__link:hover:after {
    width: 80%;
    left: 10%;
  }
  
  .cabecalho__menu__link:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #AB5757;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 1000ms;
    transition-property: width, left;
  }

section {
    min-height: 100vh;
    padding-top: 5rem;
}

#inicio {
    justify-content: center;
}

#sobre__mim {
    justify-content: flex-start;
}

#portifolio {
    justify-content: flex-start;
}

#curriculo {
    justify-content: flex-start;
}

.apresentacao {
    padding: 0% 5% 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30vh;
    flex-direction: column;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: row-reverse;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
    font-weight: 100;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.375rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links__navegacao {
    display: flex;
    width: 40%;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    align-items: center;
    justify-content: center;
    gap: 16px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.apresentacao__links__navegacao:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 10px #afafaf, -5px -5px 10px #ffffff;
    transform: scale(1.1);
}

.minha__foto {
    max-width: 100%;
    max-height: 100%;
    border-radius: 102px;
    background: var(--cor-primaria);
    box-shadow:  9px 9px 5px #a9a9a9, -9px -9px 22px #ffffff;
    transition: all 1s;
}

.minha__foto:hover {
    border-radius: 102px;
    background: var(--cor-primaria);
    box-shadow:  9px 9px 55px #585858, -9px -9px 55px #ffffff;
    transform: scale(1.02);
}

.nome:hover {
    color: var(--cor-terciaria);
    cursor: default;
    transition: all 0.5s;
}

.contato {
    font-family: var(--fonte-secundaria);
    font-size: 0.9375rem;
    font-weight: 500;
    padding: 10px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 0%;
    }

    .cabecalho__menu {
        justify-content: center;
        flex-wrap: wrap;
        position: fixed;
    }

    .container {
        flex-direction: column;
    }

    .minha__foto {
        width: 35%;
    }

    .apresentacao {
        flex-direction: column;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .contato {
        width: auto;
    }
}